.app {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  border: none;
  margin: 0;
  padding: 0;
}

.content {
  width: 50%;
  background-color: #CCCCCC;
  overflow-y: auto;
  margin: 0;
}


@media (max-width: 768px) {
  .app {
    flex-direction: column;
    height: 100vh;
  }
  
  .sidebar {
    width: 100%;
    height: 40%;
    min-height: 200px;
  }
  
  .content {
    width: 100%;
    height: 60%;
    flex-grow: 1;
  }
}

@media (max-width: 480px) {
  .sidebar {
    height: 35%;
    min-height: 150px;
  }
  
  .content {
    height: 65%;
  }
}