
@media (max-width: 768px) {
  .app {
    flex-direction: column;
    height: 100vh;
  }
  
  .sidebar {
    width: 100%;
    height: 40%;
    min-height: 200px;
  }
  
  .content {
    width: 100%;
    height: 60%;
    flex-grow: 1;
  }
}

/* Для очень маленьких экранов */
@media (max-width: 480px) {
  .sidebar {
    height: 35%;
    min-height: 150px;
  }
  
  .content {
    height: 65%;
  }
}